function extractPlaceholders(str, result = [], regex = getRegExp('{{\s*([^}]+)\s*}}', 'g')) {
    const match = regex.exec(str);
    if (match) {
        result.push([match[0], match[1]])
        return extractPlaceholders(str.slice(match.index + match[0].length), result, regex);
    }
    return result;
};
function t(str, options) {
    const placeholders = extractPlaceholders(str);
    let langStr = str;
    if (options) {
        placeholders.forEach(function (arg) {
            const v = arg[0];
            const k = arg[1];
            langStr = langStr.replace(v, options[k]);
        })
    }
    return langStr;
}

module.exports = t